@inherits RocketEcommerce.Components.RocketEcommerceTokens<Simplisity.SimplisityRazor>
@using Simplisity;
@using RocketEcommerce.Components;
@using DNNrocketAPI.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketEcommerce/App_LocalResources/")

@{
    var categoryDataList = (CategoryLimpetList)Model.GetDataObject("categorydatalist");
    var sessionParams = (SessionParams)Model.GetDataObject("sessionparams");
    var remoteParam = (RemoteLimpet)Model.GetDataObject("remoteparam");

    var selectedcolor = "";
    if (sessionParams.GetInt("searchcategoryid") == 0)
    {
        selectedcolor = "w3-grey";
    }
    var portalShop = new PortalShopLimpet(categoryDataList.PortalId, categoryDataList.CultureCode);
}

<h3 style="margin-top:30px;">Catégories</h3>

<div class="categorytree w3-bar-block w3-light-grey w3-mobile w3-margin-top">
    @{
        var linkUrlAll = portalShop.ProductListPageUrl.Replace("{culturecode}", remoteParam.CultureCode.ToLower()).Replace("{catid}", "0");
    }
    <a href="@linkUrlAll" catid="0" class="ajaxcategory w3-bar-item w3-button w3-dark-grey">
        @ResourceKey("RE.allproducts")
    </a>
    @foreach (var categoryData in categoryDataList.GetCategoryTree())
    {
        selectedcolor = "";
        var toplevelclass = "";
        if (sessionParams.GetInt("searchcategoryid") == categoryData.CategoryId)
        {
            selectedcolor = "catselected";
        }
        else
        {
            if (categoryData.Level == 0)
            {
                toplevelclass = "catlevel1";
            }
        }
        <div class="@selectedcolor @toplevelclass">
            <a href="@categoryData.UrlTokens(LocalUtils.TokenReplacementCultureCode(portalShop.ProductListPageUrl, remoteParam.CultureCode.ToLower()))" onclick="return false;" class="ajaxcategory" catid="@categoryData.CategoryId">
            @if (categoryData.Level > 0)
            {
                <i class="fas fa-chevron-right"></i>
            }
            @categoryData.Name
            </a>
        </div>
    }
</div>

<script>

    $(document).ready(function () {

        // CATEGORY EVENTS
        $('.ajaxcategory').unbind("click");
        $('.ajaxcategory').click(function (event) {
            event.preventDefault();

            // add to browser bar and history
            var stateObj = { "": "" };
            history.pushState(stateObj, "Title", $(this).attr('href'));

            $('#searchcategoryid').val($(this).attr("catid"));
            $('.triggersearch').trigger('click'); 

        });

    });

</script>
