@inherits RocketEcommerce.Components.RocketEcommerceTokens<Simplisity.SimplisityRazor>
@using Simplisity;
@using RocketEcommerce.Components;
@using DNNrocketAPI.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketECommerce/App_LocalResources/")

@{

    var productDataList = (ProductLimpetList)Model.GetDataObject("productlist");
    var companyData = (CompanyLimpet)Model.GetDataObject("companydata"); ;
    var cartData = (CartLimpet)Model.GetDataObject("cartdata");
    var sessionParams = (SessionParams)Model.SessionParamsData;

    var appThemeFolder = productDataList.PortalShop.AppTheme.AppThemeFolder;
    var portalShop = productDataList.PortalShop;

    var categoryData = new CategoryLimpet(portalShop.PortalId, sessionParams.GetInt("searchcategoryid"), sessionParams.CultureCode);

}

@AddProcessData("resourcepath", "/DesktopModules/RocketThemes/rocketecommerce/" + portalShop.AppTheme.AppThemeFolder + "/" + portalShop.AppTheme.AppVersionFolder + "/resx/")

<div class="productlistflex">

    <div class="productlist">

        <h1>
            @if (!categoryData.Exists)
            {
                @portalShop.StoreName
            }
            else
            {
                @categoryData.Name
            }
        </h1>

        @RenderTemplate("SearchBanner.cshtml", productDataList.PortalShop.AppTheme, Model, true)

    <div id="datasection">

        <div id="datalist2" class="productgrid">
            @{
                var lp1 = 0;
            }
            @foreach (ProductLimpet productData in productDataList.GetArticleList())
            {
                lp1 += 1;
                var logoRelPath = productData.LogoRelPath;
                if (productData.LogoRelPath == "")
                {
                    logoRelPath = "/DesktopModules/DNNrocket/api/images/noimage2.png";
                }

                <div class="product">

                    <div class="productimg">
                        <img src="@ThumbnailImageWebsiteDomainUrl(productDataList.PortalShop.EngineUrlWithProtocol,logoRelPath,400,400)" alt="@productData.Name" />
                    </div>
                    <div class="productcontent">
                        <h3>
                            <a href="@productData.UrlTokens(portalShop.ProductDetailPageUrl)" class="ajaxproduct" s-cmd="rocketecommerce_productdetail" s-return='#ecommerce-tag' s-fields='{"systemkey":"rocketecommerce","template":"ProductDetail.cshtml","productid":"@productData.ProductId","remotelanguage":"@sessionParams.CultureCode","remotecall":"True"}' productid='@productData.ProductId' title="@productData.Name">@productData.Name</a>
                        </h3>
                        <div class="summary">@BreakOf(productData.Summary)</div>
                        <div class="price">
                            @if (productData.SalePriceMinimum > 0)
                            {
                                <div>
                                    <div class="productprice" style="text-decoration:line-through;">@productData.PriceMinimumDisplay()</div>
                                </div>
                                <div class="w3-red">
                                    <div class="w3-large">@productData.SalePriceMinimumDisplay()</div>
                                </div>
                            }
                            else
                            {
                                <div>
                                    <div class="productprice">@productData.PriceMinimumDisplay()</div>
                                </div>
                            }
                        </div>
                        <div class="actions">
                            @{
                                var modellistcount = productData.GetModelList().Count;
                                var optionlistcount = productData.GetOptionList().Count;
                            }
                            @if (modellistcount == 1 && optionlistcount == 0)
                            {
                                <a href="javascript:void(0);" rel="nofollow" class="w3-button simplisity_click buybutton" s-return="#minicartdisplay" s-cmd="rocketecommerce_addtocart" s-fields='{"productid":"@productData.ProductId"}'>@ResourceKey("RE.addtobasket", sessionParams.CultureCode)</a>
                            }
                        </div>
                    </div>

                </div>
            }
        </div>

        @RenderTemplate("ProductPaging.cshtml", productDataList.PortalShop.AppTheme, Model, true)

    </div>

    </div>

    <div class="productlistside">

        <!-- Cart (Include design to stop flicker on the page) -->
        <div id="minicartdisplay" class="productlistcart">
            @RenderTemplate("MiniCart.cshtml", productDataList.PortalShop.AppTheme, Model)
        </div>

        <div class="productlistcat">
            @RenderTemplate("CategorySideMenu.cshtml", productDataList.PortalShop.AppTheme, Model, true)
        </div>

    </div>

</div>

<script>

    $(document).ready(function () {

        $('.clearsearch').unbind("click");
        $('.clearsearch').click(function () {
            $('#searchtext').val('');
            $('.dosearch').trigger('click');
            return false; // prevent the button click from happening
        });

        if ($('#searchtext').val() !== '') {
            $('.dosearch').hide();
            $('.clearsearch').show();
        }

        $('.actionentrykey').unbind('keypress');
        $('.actionentrykey').on('keypress', function (e) {
            if (e.keyCode == 13) {
                $('.dosearch').trigger('click');
                return false; // prevent the button click from happening
            }
        });

        //$('.actionentrykey').focus();

        // move cursor to end of line
        var tmpStr = $('.actionentrykey').val();
        $('.actionentrykey').val('');
        $('.actionentrykey').val(tmpStr);

        //  change color of panel, s we show it has a selection
        if (tmpStr != '') {
            $('#searchtext').addClass('w3-border-red');
        }

        //$('.ecommerce-container').show();
        //scroll(0, 0);

        // PRODUCT EVENTS
        // View product detail and add to url, to make SEO friendly
        $('.ajaxproduct').unbind("click");
        $('.ajaxproduct').click(function (event) {
            event.preventDefault();

            // add to browser bar and history
            var stateObj = { productid: $(this).attr("productid") };
            history.pushState(stateObj, "Title", $(this).attr("href"));

            simplisity_callserver($(this))

        });

        // update the cart display.
        // If this is a remote module, it will NOT know the "browserid" and therefore we need to call the cart update from the browser.
        // When we call it on page load, we pass the browserid, through simplisityJS.  This allows us to get the cart data.
        // After the call return, we activate the simplisity panel, to make the page work correctly.
        $('#minicartdisplay').getSimplisity('@sessionParams.ApiUrl', 'rocketecommerce_minicart', '{"systemkey":"rocketecommerce","template":"minicart.cshtml"}', "activatesimplisitypanel");


        var toastedfirstload = sessionStorage.getItem("toastedfirstload");
        if (toastedfirstload === 'false') {
            $('html, body').animate({
                scrollTop: $('.productlist').offset().top
            }, 500, function () {
            });
        }
        sessionStorage.setItem("toastedfirstload", "false");

    });

    function activatesimplisitypanel() {
       $('#ecommerce-tag').activateSimplisityPanel('@sessionParams.ApiUrl')
    }


</script>
