@inherits RocketEcommerce.Components.RocketEcommerceTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using System
@using System.Linq
@using System.Xml
@using Simplisity;
@using RocketEcommerce.Components;
@using DNNrocketAPI.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")

@{

    var articleDataList = (ProductLimpetList)Model.GetDataObject("productlist");
    var sessionParams = (SessionParams)Model.SessionParamsData;
    var portalShop = articleDataList.PortalShop;
    var rowcount = articleDataList.SessionParamData.RowCount;
    var page = articleDataList.SessionParamData.Page;
    var pagesize = articleDataList.SessionParamData.PageSize;
    var pagechapter = 5;
    var lastpage = 0;
    var catid = articleDataList.CategorId;

    var r = (page - 1) / pagechapter;
    var BeginPage = 0;
    var EndPage = 0;

    if (pagesize > 0)
    {
        lastpage = System.Convert.ToInt32(rowcount / pagesize);
        if (rowcount % pagesize > 0)
        {
            lastpage += 1;
        }
        BeginPage = pagechapter * r + 1;
        EndPage = Math.Min(pagechapter * (r + 1), lastpage);
    }

    var categoryData = new CategoryLimpet(portalShop.PortalId, catid, sessionParams.CultureCode);

}

@if (pagesize > 0 && (EndPage != BeginPage))
{
    <div class="w3-center w3-margin">
        <div class="w3-bar">
            @if (BeginPage != 1)
            {
                <a href="@categoryData.UrlTokens(sessionParams.PageUrl + portalShop.ProductListPagingUrl, 1, pagesize)" class="w3-button w3-hover-grey">|❮</a>
                if (page >= 6)
                {
                    <a href="@categoryData.UrlTokens(sessionParams.PageUrl + portalShop.ProductListPagingUrl,(BeginPage - 1),pagesize)" class="w3-button w3-hover-grey">..</a>
                }
            }

            @for (int i = BeginPage; i < (EndPage + 1); i++)
            {
                var selected = "";
                if (i == page)
                {
                    selected = "w3-grey";
                }
                if (i <= lastpage)
                {
                    <a href="@categoryData.UrlTokens(sessionParams.PageUrl + portalShop.ProductListPagingUrl,i,pagesize)" class='w3-button w3-hover-grey @selected'>@i</a>
                }
            }

            @if (page < lastpage)
            {
                if (EndPage != lastpage)
                {
                    <a href="@categoryData.UrlTokens(sessionParams.PageUrl + portalShop.ProductListPagingUrl, (EndPage + 1), pagesize)" class="w3-button w3-hover-grey">..</a>
                }
                <a href="@categoryData.UrlTokens(sessionParams.PageUrl + portalShop.ProductListPagingUrl, lastpage, pagesize)" class="w3-button w3-hover-grey">❯|</a>
            }

        </div>
    </div>

}

<script>

    $(document).ready(function () {


    });

</script>